

body {
    content: ;
}

section article h2 {
    background: #000;
    color: aqua;
}

h2 {
    background: #ae8888;
}

.testh2 {
    background: #5d0a0a;
    color: azure;
}

.desafio1 {
    background: #a82222;
    color: aqua;
}

#lista1 {
    background: #46c766;
}

#lista2 {
    background: #136d4f;
}
#footer .btnaula3 {
    background: #b64848;
    border-radius: 3em;
}

ul {
    display: flex;
    flex-direction: column;
}